<p>
    <button class="btn btn-primary" (click)="onNew()">New Post</button>
</p>
<clr-modal [(clrModalOpen)]="opened">
    <h3 class="modal-title">Create a new Post</h3>
    <div class="modal-body">
        <form [formGroup]="postForm" novalidate (ngSubmit)="save(postForm.value, postForm.valid)">
            <section class="form-block">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input [(ngModel)]="currentPost.title" type="text" id="title" placeholder="Title" size="45" formControlName="title">
                </div>
                <div class="form-group">
                    <label for="body">Body</label>
                    <textarea [(ngModel)]="currentPost.body" id="body" rows="5" formControlName="body"></textarea>
                </div>
            </section>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline" (click)="opened = false">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="confirmOpened">
    <h3 class="modal-title">Delete a Post</h3>
    <div class="modal-body">
        <form [formGroup]="postForm" novalidate (ngSubmit)="save(postForm.value, postForm.valid)">
            <p> Are you sure to delete this post? </p>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline" (click)="confirmOpened = false">Cancel</button>
                <button type="submit" class="btn btn-danger" (click)="onConfirmDeletion()">Delete</button>
            </div>
        </form>
    </div>
</clr-modal>

<clr-datagrid>
    <clr-dg-column>User ID</clr-dg-column>
    <clr-dg-column>Title</clr-dg-column>
    <clr-dg-column>Description</clr-dg-column>

    <clr-dg-row *clrDgItems="let post of posts" [clrDgItem]="post">
        <clr-dg-action-overflow>
            <button class="action-item" (click)="onEdit(post)">Edit</button>
            <button class="action-item" (click)="onDelete(post)">Delete</button>
        </clr-dg-action-overflow>
        <clr-dg-cell>{{post.userId}}</clr-dg-cell>
        <clr-dg-cell>{{post.title}}</clr-dg-cell>
        <clr-dg-cell>{{post.body}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{posts.length}} posts
        <clr-dg-pagination #pagination [clrDgTotalItems]="posts.length" [clrDgPageSize]="10"></clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>
